%section#solutions

  %h3 Traditionally approaches are typically ...

  %ul
    %li Rule based systems (with utility scoring)
    %li Some form of planning (STRIPS/HTN)

  %br/
  %br/
  %span.fragment
    These are valid and have their own pros and cons

  %br/
  %br/
  %span.fragment
    But why would I want to do a thing like that? I chose something else.
    %br/
    And the reasons? There are no reasons.
    %br/
    Who needs reasons when you've got ...
    %br/
    %br/

    %h3 MCTS

