%section#implementation

  %div{ style:"position: relative; width: 1920px; height: 1080px; top: 0px; left: 0px;"}

    %h3{ style: "position: absolute; top: 20px; right: 200px;" }
      Planning Loop

    %div#pegap{ style: "position: absolute; top: 750px; left: 750px; font-size: 56px; display: none;" }
      Plan Execution Gap

    -#--------------------------------------------------------------------------------
    -# architecture

    %svg#arch{ :viewbox => "0 0 1150 680", style: "height: 784px; width: 1326px; position: absolute; top: 50px; left: 297px;" }

      %g

        -# the game

        %path{:d => "M0,-12.993492609619175 L-0.9458128078818504,637.943964913896 ", :fill => "#FFFFFF", :height => "650.9374575235151", :stroke => "#666666", "stroke-miterlimit" => "3", "stroke-width" => "5", :transform => "matrix(1 0 0 1 96.23606473256774 22.99349260961918)", :width => "0.9458128078819072"}

        %text{:fill => "#666666", "font-size" => "56", :height => "63", :stroke => "none", "stroke-miterlimit" => "3", "stroke-width" => "5", "text-align" => "center", "text-anchor" => "middle", :transform => "matrix(0 -1 1 0 10 494.62781298065465)", :type => "textBox", :width => "319.59598925024454"}
          %tspan{:x => "159.79799462512227", :y => "56"} The Game


        %g#highlights

          -# snapshot

          %path.sim{:d => "M0,0 L51.74325834485563,-0.38210147971312836 ", :fill => "#FFFFFF", :height => "0.38210147971312836", :stroke => "#666666", "stroke-miterlimit" => "3", "stroke-width" => "5", :transform => "matrix(1 0 0 1 96.07912312530064 115.98478032650978)", :width => "51.74325834485563"}

          %path.sim{:d => "M683.9097312099136,344.5325615550584 L659.0682038539362,353.54806609675063 L659.0365134449254,335.8331276935988 L683.9149655533904,344.5168585246281 ", :fill => "#666666", :height => "17.714938403151848", :stroke => "#666666", "stroke-miterlimit" => "3", "stroke-width" => "0.23347063724070463", :transform => "matrix(1 0 0 1 -522.8259975625845 -228.89686730852145)", :width => "24.878452108465012"}

          %path.sim{:d => "M-36.590189503173335,0 L51.74325834485563,-0.38210147971312836 ", :fill => "#FFFFFF", :height => "0.38210147971312836", :stroke => "#666666", "stroke-miterlimit" => "3", "stroke-width" => "5", :transform => "matrix(1 0 0 1 413.8521361678563 115.98478032650975)", :width => "88.33344784802897"}

          %path.sim{:d => "M683.9097312099136,344.5325615550584 L659.0682038539362,353.54806609675063 L659.0365134449254,335.8331276935988 L683.9149655533904,344.5168585246281 ", :fill => "#666666", :height => "17.714938403151848", :stroke => "#666666", "stroke-miterlimit" => "3", "stroke-width" => "0.23347063724070463", :transform => "matrix(1 0 0 1 -205.05298452002876 -228.89686730852145)", :width => "24.878452108465012"}

          %path.sim{:d => "M0,0 L300,0 L300,99.99999999999996 L0,99.99999999999996 L0,0 Z ", :fill => "#9BBBFF", "fill-opacity" => "0.68", :height => "99.99999999999996", :stroke => "#666666", "stroke-miterlimit" => "3", "stroke-width" => "5", :transform => "matrix(1 0 0 1 481.39996930225544 65.79372958665337)", :width => "299.9999999999998"}

          %text{:fill => "#000000", "font-size" => "32", :height => "36", :stroke => "none", "stroke-miterlimit" => "3", "stroke-width" => "5", "text-align" => "center", "text-anchor" => "middle", :transform => "matrix(1 0 0 1 534.9611419875239 95.08546538476696)", :type => "textBox", :width => "192.8776546294646"}
            %tspan{:x => "96.4388273147323", :y => "32"} Snapshot

          %path.sim{:d => "M0,0 L210,0 L210,70 L0,70 L0,0 Z ", :fill => "#A7F89C", "fill-opacity" => "0.49333333333333335", :height => "70", :stroke => "#666666", "stroke-miterlimit" => "3", "stroke-width" => "5", :transform => "matrix(1 0 0 1 164.999999999997 80.79372958665321)", :width => "209.99999999999994"}

          %text{:fill => "#000000", "font-size" => "24", :height => "36", :stroke => "none", "stroke-miterlimit" => "3", "stroke-width" => "5", "text-align" => "center", "text-anchor" => "middle", :transform => "matrix(0.9999999999999997 0 0 0.9999999999999999 202.01062674311044 94.18271065080484)", :type => "textBox", :width => "135.97874651377322"}
            %tspan{:x => "67.98937325688661", :y => "32"} Importers

          -# run

          %path.run{:d => "M-18.514599858925916,0 L51.74325834485563,-0.38210147971312836 ", :fill => "#FFFFFF", :height => "0.38210147971312836", :stroke => "#666666", "stroke-miterlimit" => "3", "stroke-width" => "5", :transform => "matrix(0 1 -1 0 631.2089185623995 202.35648120727168)", :width => "70.25785820378155"}

          %path.run{:d => "M683.9097312099136,344.5325615550584 L659.0682038539362,353.54806609675063 L659.0365134449254,335.8331276935988 L683.9149655533904,344.5168585246281 ", :fill => "#666666", :height => "17.714938403151848", :stroke => "#666666", "stroke-miterlimit" => "3", "stroke-width" => "0.23347063724070463", :transform => "matrix(0 1 -1 0 976.090566197431 -416.54863948061325)", :width => "24.878452108465012"}

          %path.run{:d => "M683.9097312099136,344.5325615550584 L659.0682038539362,353.54806609675063 L659.0365134449254,335.8331276935988 L683.9149655533904,344.5168585246281 ", :fill => "#666666", :height => "17.714938403151848", :stroke => "#666666", "stroke-miterlimit" => "3", "stroke-width" => "0.23347063724070463", :transform => "matrix(0 -1 1 0 286.7093724070809 851.9764834604522)", :width => "24.878452108465012"}


          %path.run{:d => "M0,0 L300,0 L300,149.99999999999991 L0,149.99999999999991 L0,0 Z ", :fill => "#9BBBFF", "fill-opacity" => "0.5266666666666666", :height => "149.99999999999997", :stroke => "#666666", "stroke-miterlimit" => "3", "stroke-width" => "5", :transform => "matrix(1 0 0 1 481.39996930225607 269.8613376474672)", :width => "300"}

          %text{:fill => "#000000", "font-size" => "32", :height => "53", :stroke => "none", "stroke-miterlimit" => "3", "stroke-width" => "5", "text-align" => "center", "text-anchor" => "middle", :transform => "matrix(0.9999999999999993 0 0 0.9999999999999993  490.71336962720113 312.04205450973274)", :type => "textBox", :width => "281.37319935011067"}
            %tspan{:x => "140.68659967505533", :y => "48"} Simulation


          -# exec

          %path.exec{:d => "M-36.590189503173335,0 L51.74325834485563,-0.38210147971312836 ", :fill => "#FFFFFF", :height => "0.38210147971312836", :stroke => "#666666", "stroke-miterlimit" => "3", "stroke-width" => "5", :transform => "matrix(-1 0 0 -1 443.04402819052 344.67028690761083)", :width => "88.33344784802897"}

          %path.exec{:d => "M683.9097312099136,344.5325615550584 L659.0682038539362,353.54806609675063 L659.0365134449254,335.8331276935988 L683.9149655533904,344.5168585246281 ", :fill => "#666666", :height => "17.714938403151848", :stroke => "#666666", "stroke-miterlimit" => "3", "stroke-width" => "0.23347063724070463", :transform => "matrix(-1 0 0 -1 1061.949148878405 689.5519345426419)", :width => "24.878452108465012"}

          %path.exec{:d => "M0,0 L51.74325834485563,-0.38210147971312836 ", :fill => "#FFFFFF", :height => "0.38210147971312836", :stroke => "#666666", "stroke-miterlimit" => "3", "stroke-width" => "5", :transform => "matrix(-1 0 0 -1 163.134746628405 344.67028690761094)", :width => "51.74325834485563"}

          %path.exec{:d => "M683.9097312099136,344.5325615550584 L659.0682038539362,353.54806609675063 L659.0365134449254,335.8331276935988 L683.9149655533904,344.5168585246281 ", :fill => "#666666", :height => "17.714938403151848", :stroke => "#666666", "stroke-miterlimit" => "3", "stroke-width" => "0.23347063724070463", :transform => "matrix(-1 0 0 -1 782.03986731629 689.5519345426422)", :width => "24.878452108465012"}

          %path.exec{:d => "M0,0 L210,0 L210,70 L0,70 L0,0 Z ", :fill => "#A7F89C", "fill-opacity" => "0.49333333333333335", :height => "70", :stroke => "#666666", "stroke-miterlimit" => "3", "stroke-width" => "5", :transform => "matrix(1 0 0 1 164.999999999997 309.86133764746717)", :width => "209.99999999999994"}

          %text{:fill => "#000000", "font-size" => "22", :height => "36", :stroke => "none", "stroke-miterlimit" => "3", "stroke-width" => "5", "text-align" => "center", "text-anchor" => "middle", :transform => "matrix(0.9999999999999992 0 0 0.9999999999999993 180.4318802748814 323.25031871161895)", :type => "textBox", :width => "179.1362394502317"}
            %tspan{:x => "89.56811972511585", :y => "32"} Interpreters


        %g



          %path{:d => "M-32.77416415840045,0 L46.34690517079039,-0.3422517563129617 ", :fill => "#FFFFFF", :height => "0.3422517563129759", :stroke => "#666666", "stroke-miterlimit" => "3", "stroke-width" => "4.478545288151362", :transform => "matrix(1 0 0 1 828.8162025774318 341.9851076585718)", :width => "79.12106932919085"}

          %path{:d => "M683.9097312099136,344.5325615550584 L659.0682038539362,353.54806609675063 L659.0365134449254,335.8331276935988 L683.9149655533904,344.5168585246281 ", :fill => "#666666", :height => "17.714938403151848", :stroke => "#666666", "stroke-miterlimit" => "3", "stroke-width" => "0.23347063724070463", :transform => "matrix(1 0 0 1 206.02295588115618 -2.8766151147594883)", :width => "24.878452108465012"}

          %path{:d => "M683.9097312099136,344.5325615550584 L659.0682038539362,353.54806609675063 L659.0365134449254,335.8331276935988 L683.9149655533904,344.5168585246281 ", :fill => "#666666", :height => "17.714938403151848", :stroke => "#666666", "stroke-miterlimit" => "3", "stroke-width" => "0.23347063724070463", :transform => "matrix(-1 0 0 -1 1467.702000214535 686.6283219648744)", :width => "24.878452108465012"}

          %path{:d => "M0,0 L240.3597438990946,0 L240.3597438990946,102.50556213758858 L0,102.50556213758858 L0,0 Z ", :fill => "#FF7F50", :height => "102.50556213758858", :stroke => "#666666", "stroke-miterlimit" => "3", "stroke-width" => "5", :transform => "matrix(1 0 0 1 890.5515861501675 293.6085565786729)", :width => "240.3597438990946"}

          %text{:fill => "#000000", "font-size" => "32", :height => "36", :stroke => "none", "stroke-miterlimit" => "3", "text-align" => "center", "text-anchor" => "middle", :transform => "matrix(0.9999999999999999 0 0 1 937.3789375170289 326.8613376474672)", :type => "textBox", :width => "146.70504116537185"}
            %tspan{:x => "73.35252058268593", :y => "32"} Rules



        %g#tree{ opacity:1 }

          %path{:d => "M-18.514599858925916,0 L25.925035188662406,-0.38210147971311414 ", :fill => "#FFFFFF", :height => "0.38210147971311414", :stroke => "#666666", "stroke-miterlimit" => "3", "stroke-width" => "5", :transform => "matrix(0 1 -1 0 631.2089185623993 451.27733309885724)", :width => "44.439635047588325"}

          %path{:d => "M683.9097312099136,344.5325615550584 L659.0682038539362,353.54806609675063 L659.0365134449254,335.8331276935988 L683.9149655533904,344.5168585246281 ", :fill => "#666666", :height => "17.714938403151848", :stroke => "#666666", "stroke-miterlimit" => "3", "stroke-width" => "0.23347063724070463", :transform => "matrix(0 1 -1 0 976.0905661974309 -185.5591044191695)", :width => "24.878452108465012"}

          %path{:d => "M683.9097312099136,344.5325615550584 L659.0682038539362,353.54806609675063 L659.0365134449254,335.8331276935988 L683.9149655533904,344.5168585246281 ", :fill => "#666666", :height => "17.714938403151848", :stroke => "#666666", "stroke-miterlimit" => "3", "stroke-width" => "0.23347063724070463", :transform => "matrix(0 -1 1 0 286.70937240708065 1106.7006429938824)", :width => "24.878452108465012"}

          %path{:d => "M0,0 L197.37464398238905,0 L197.37464398238905,154.50123810069078 L0,154.50123810069078 L0,0 Z ", :fill => "#C0B870", "fill-opacity" => "0.48", :height => "154.501238100691", :stroke => "#888888", "stroke-miterlimit" => "3", "stroke-width" => "5", :transform => "matrix(1 0 0 1 532.7126473110617 500.8545890542462)", :width => "197.37464398238887"}

          %g{:transform => "matrix(1 0 0 1 557.0960649034947 523.7364975689125)"}

            %path{:d => "M0,0 L-21.614741036423652,43.998217030747924 ", :fill => "#FFFFFF", :height => "43.99821703074804", :stroke => "#0049A8", "stroke-miterlimit" => "3", "stroke-width" => "1.1260947617952635", :transform => "matrix(1 0 0 1 115.85383929826742 54.36871053567927)", :width => "21.614741036423652"}

            %path{:d => "M0,0 L22.155689067687604,43.998217030747924 ", :fill => "#FFFFFF", :height => "43.99821703074804", :stroke => "#0049A8", "stroke-miterlimit" => "3", "stroke-width" => "1.1260947617952635", :transform => "matrix(1 0 0 1 115.85383929826742 54.36871053567927)", :width => "22.155689067687604"}

            %path{:d => "M0,10.873742107135627 C0,4.868339622245003 4.8683396222451165,0 10.873742107135968,0 C16.87914459202716,0 21.74748421427182,4.868339622245003 21.74748421427182,10.873742107135627 C21.74748421427182,16.879144592027046 16.87914459202716,21.747484214271594 10.873742107135968,21.747484214271594 C4.8683396222451165,21.747484214271594 0,16.879144592027046 0,10.873742107135627 Z ", :fill => "#7ABFE6", :height => "21.747484214271708", :stroke => "#0049A8", "stroke-miterlimit" => "3", "stroke-width" => "1.126094761795262", :transform => "matrix(1 0 0 1 126.8603245832511 86.98993685708672)", :width => "21.74748421427148"}

            %path{:d => "M0,10.873742107135627 C0,4.868339622245003 4.868339622244662,0 10.873742107135968,0 C16.879144592027046,0 21.747484214271708,4.868339622245003 21.747484214271708,10.873742107135627 C21.747484214271708,16.879144592027046 16.879144592027046,21.747484214271594 10.873742107135968,21.747484214271594 C4.868339622244662,21.747484214271594 0,16.879144592027046 0,10.873742107135627 Z ", :fill => "#7ABFE6", :height => "21.747484214271708", :stroke => "#0049A8", "stroke-miterlimit" => "3", "stroke-width" => "1.126094761795262", :transform => "matrix(1 0 0 1 83.3653561547078 86.98993685708672)", :width => "21.747484214271708"}

            %path{:d => "M0,0 L-21.614741036423197,43.998217030747924 ", :fill => "#FFFFFF", :height => "43.99821703074804", :stroke => "#0049A8", "stroke-miterlimit" => "3", "stroke-width" => "1.1260947617952635", :transform => "matrix(1 0 0 1 32.488483143559165 54.36871053567927)", :width => "21.61474103642297"}

            %path{:d => "M0,0 L22.15568906768806,43.998217030747924 ", :fill => "#FFFFFF", :height => "43.99821703074804", :stroke => "#0049A8", "stroke-miterlimit" => "3", "stroke-width" => "1.1260947617952635", :transform => "matrix(1 0 0 1 32.488483143559165 54.36871053567927)", :width => "22.155689067688286"}

            %path{:d => "M0,10.873742107135627 C0,4.868339622245003 4.868339622244548,0 10.87374210713574,0 C16.879144592026933,0 21.74748421427148,4.868339622245003 21.74748421427148,10.873742107135627 C21.74748421427148,16.879144592027046 16.879144592026933,21.747484214271594 10.87374210713574,21.747484214271594 C4.868339622244548,21.747484214271594 0,16.879144592027046 0,10.873742107135627 Z ", :fill => "#7ABFE6", :height => "21.747484214271708", :stroke => "#0049A8", "stroke-miterlimit" => "3", "stroke-width" => "1.126094761795262", :transform => "matrix(1 0 0 1 43.494968428543416 86.98993685708672)", :width => "21.747484214271708"}

            %path{:d => "M0,10.873742107135627 C0,4.868339622245003 4.868339622244434,0 10.873742107135513,0 C16.87914459202682,0 21.747484214271367,4.868339622245003 21.747484214271367,10.873742107135627 C21.747484214271367,16.879144592027046 16.87914459202682,21.747484214271594 10.873742107135513,21.747484214271594 C4.868339622244434,21.747484214271594 0,16.879144592027046 0,10.873742107135627 Z ", :fill => "#7ABFE6", :height => "21.747484214271708", :stroke => "#0049A8", "stroke-miterlimit" => "3", "stroke-width" => "1.126094761795262", :transform => "matrix(1 0 0 1 0 86.98993685708672)", :width => "21.747484214271708"}

            %path{:d => "M0,0 L-42.458260293369676,44.04252373715167 ", :fill => "#D8E6EE", :height => "44.04252373715178", :stroke => "#0049A8", "stroke-miterlimit" => "3", "stroke-width" => "1.1260947617952626", :transform => "matrix(1 0 0 1 74.56055964656991 11.214502935510382)", :width => "42.45826029336945"}

            %path{:d => "M0,0 L42.14140760461248,43.40881835963887 ", :fill => "#D8E6EE", :height => "43.408818359638985", :stroke => "#0049A8", "stroke-miterlimit" => "3", "stroke-width" => "1.1260947617952626", :transform => "matrix(1 0 0 1 74.56055964656991 11.214502935510382)", :width => "42.14140760461271"}

            %path{:d => "M0,10.873742107135627 C0,4.868339622244662 4.868339622245003,0 10.873742107135854,0 C16.879144592027046,0 21.74748421427148,4.868339622244662 21.74748421427148,10.873742107135627 C21.74748421427148,16.879144592026705 16.879144592027046,21.74748421427148 10.873742107135854,21.74748421427148 C4.868339622245003,21.74748421427148 0,16.879144592026705 0,10.873742107135627 Z ", :fill => "#7ABFE6", :height => "21.747484214271708", :stroke => "#0049A8", "stroke-miterlimit" => "3", "stroke-width" => "1.1260947617952626", :transform => "matrix(1 0 0 1 105.11284036897939 43.494968428543416)", :width => "21.74748421427148"}

            %path{:d => "M0,10.873742107135968 C0,4.868339622244889 4.868339622244662,0 10.873742107135854,0 C16.87914459202682,0 21.747484214271708,4.868339622244889 21.747484214271708,10.873742107135968 C21.747484214271708,16.879144592026933 16.87914459202682,21.747484214271708 10.873742107135854,21.747484214271708 C4.868339622244662,21.747484214271708 0,16.879144592026933 0,10.873742107135968 Z ", :fill => "#7ABFE6", :height => "21.74748421427182", :stroke => "#0049A8", "stroke-miterlimit" => "3", "stroke-width" => "1.1260947617952626", :transform => "matrix(1 0 0 1 63.43016229162561 0)", :width => "21.747484214271708"}

            %path{:d => "M0,10.873742107135627 C0,4.868339622244662 4.868339622244207,0 10.8737421071354,0 C16.879144592026364,0 21.747484214271253,4.868339622244662 21.747484214271253,10.873742107135627 C21.747484214271253,16.879144592026705 16.879144592026364,21.74748421427148 10.8737421071354,21.74748421427148 C4.868339622244207,21.74748421427148 0,16.879144592026705 0,10.873742107135627 Z ", :fill => "#7ABFE6", :height => "21.747484214271708", :stroke => "#0049A8", "stroke-miterlimit" => "3", "stroke-width" => "1.1260947617952626", :transform => "matrix(1 0 0 1 21.747484214271594 43.494968428543416)", :width => "21.747484214271594"}


    -#--------------------------------------------------------------------------------
    -# timeline

    %svg#planexec{ :viewbox => "0 0 620 110", style: "position: absolute; width: 930px; height: 165px; left: 540px; top: 800px;", display: "none" }

      %g#arrow{:transform => "matrix(1 0 0 1 100.26687840539488 32.92924002537765)", style:"display:none;"}
        %path{:d => "M-2.7331215946052936,-0.017749780508850677 L402.7481024653783,0 ", :fill => "#00FF00", :height => "0.017749780508850677", :stroke => "rgb(0, 0, 0)", "stroke-miterlimit" => "3", "stroke-width" => "3", :transform => "matrix(1 0 0 1 2.733121594605308 7.070759974622376)", :width => "405.48122405998356"}
        %path{:d => "M578.2451644684243,262.92924002537757 L578.2135778589387,276.7946042385154 L597,270.02069390029567 ", :fill => "#000000", :height => "13.86536421313781", :stroke => "#000000", "stroke-miterlimit" => "3", "stroke-width" => "0.01", :transform => "matrix(1 0 0 1 -180.26687840539466 -262.92924002537757)", :width => "18.789625891526953"}
      %path#red{:d => "M0,0 L0.5334411953183746,-59.99999999999997 ", :fill => "#00FF00", :height => "59.99999999999997", :stroke => "#B80000", "stroke-miterlimit" => "3", "stroke-width" => "6.41757401370316", :transform => "matrix(0.9999999999999999 0 0 0.9999999999999999 519.9999999999991 69.99999999999997)", :width => "0.5334411953183746", style:"display:none;"}
      %path#green{:d => "M0,0 L0.5334411953183746,-59.99999999999997 ", :fill => "#00FF00", :height => "59.99999999999997", :stroke => "#00B800", "stroke-miterlimit" => "3", "stroke-width" => "6.41757401370316", :transform => "matrix(1 0 0 1 99.99999999999905 69.99999999999997)", :width => "0.5334411953183746"}
      %g{:transform => "matrix(1 0 0 1 10 69.99999999999997)"}
        %g{:transform => "matrix(1 0 0 1 0 0)"}
          %g{:transform => "matrix(1 0 0 1 0 0)"}
            %path{:d => "M0,0 L599.9999999999999,0 ", :fill => "#FFFFFF", :stroke => "#000000", "stroke-miterlimit" => "3", "stroke-width" => "6.721860200748345", :transform => "matrix(1 0 0 1 0 0)", :width => "600"}
            %path{:d => "M0,0 L0,25 ", :fill => "#FFFFFF", :height => "25", :stroke => "#000000", "stroke-miterlimit" => "3", "stroke-width" => "4.7890232105974775", :transform => "matrix(1 0 0 1 30 0)"}
            %path{:d => "M0,0 L0,25 ", :fill => "#FFFFFF", :height => "25", :stroke => "#000000", "stroke-miterlimit" => "3", "stroke-width" => "4.7890232105974775", :transform => "matrix(1 0 0 1 90 0.3817733990126726)"}
            %path{:d => "M0,0 L0,25 ", :fill => "#FFFFFF", :height => "25", :stroke => "#000000", "stroke-miterlimit" => "3", "stroke-width" => "4.7890232105974775", :transform => "matrix(1 0 0 1 150 0)"}
            %path{:d => "M0,0 L0,25 ", :fill => "#FFFFFF", :height => "25", :stroke => "#000000", "stroke-miterlimit" => "3", "stroke-width" => "4.7890232105974775", :transform => "matrix(1 0 0 1 449.9999999999999 0)"}
            %path{:d => "M0,0 L0,25 ", :fill => "#FFFFFF", :height => "25", :stroke => "#000000", "stroke-miterlimit" => "3", "stroke-width" => "4.7890232105974775", :transform => "matrix(1 0 0 1 210 0)"}
            %path{:d => "M0,0 L0,25 ", :fill => "#FFFFFF", :height => "25", :stroke => "#000000", "stroke-miterlimit" => "3", "stroke-width" => "4.7890232105974775", :transform => "matrix(1 0 0 1 510 0)"}
            %path{:d => "M0,0 L0,25 ", :fill => "#FFFFFF", :height => "25", :stroke => "#000000", "stroke-miterlimit" => "3", "stroke-width" => "4.7890232105974775", :transform => "matrix(1 0 0 1 330 0)"}
            %path{:d => "M0,0 L0,25 ", :fill => "#FFFFFF", :height => "25", :stroke => "#000000", "stroke-miterlimit" => "3", "stroke-width" => "4.7890232105974775", :transform => "matrix(1 0 0 1 389.99999999999994 0)"}
            %path{:d => "M0,0 L0,25 ", :fill => "#FFFFFF", :height => "25", :stroke => "#000000", "stroke-miterlimit" => "3", "stroke-width" => "4.7890232105974775", :transform => "matrix(1 0 0 1 269.99999999999994 0)"}
            %path{:d => "M0,0 L0,25 ", :fill => "#FFFFFF", :height => "25", :stroke => "#000000", "stroke-miterlimit" => "3", "stroke-width" => "4.7890232105974775", :transform => "matrix(1 0 0 1 569.9999999999999 0)"}

    %div.fragment.fade-out#imp_snapshot{ style: "position: absolute; bottom: 150px; width: 100%; text-align: middle;", "data-fragment-index" => 1 }
      The high level planning loop

    %div.fragment.current-visible{ style: "position: absolute; bottom: 350px; width: 100%; text-align: middle;", "data-fragment-index" => 1 }
      We take a snapshot of the game state

    %div.fragment.current-visible#imp_simulate{ style: "position: absolute; bottom: 350px; width: 100%; text-align: middle;", "data-fragment-index" => 2 }
      Execution is time sliced over several frames

    %div.fragment.current-visible#imp_exec{ style: "position: absolute; bottom: 350px; width: 100%; text-align: middle;", "data-fragment-index" => 3 }
      Actions are "interpreted" before being given to the game
      %br/
      This lets us do some extra logic if required

    %div.fragment.current-visible#imp_delay{ style: "position: absolute; bottom: 370px; width: 100%; text-align: middle;", "data-fragment-index" => 4 }
      We can control the planning-execution gap. A longer
      %br/
      gap gives us more time to think deeply but runs the risk
      %br/
      of stale order. Sometimes we want to "think fast"


