%section#interpreters

  %svg{ :height => "804px", :viewbox => "0 0 800 670", :width => "960px" }

    %path{:d => "M0,-12.99 L-0.94,637.94 ", :fill => "#FFFFFF", :height => "650.93", :stroke => "#AAAAAA", "stroke-miterlimit" => "3", "stroke-width" => "5", :transform => "matrix(1 0 0 1 96.23 22.99)", :width => "0.94"}
    %text{:fill => "#AAAAAA", "font-size" => "56", :height => "63", :stroke => "none", "stroke-miterlimit" => "3", "stroke-width" => "5", "text-align" => "center", "text-anchor" => "middle", :transform => "matrix(0 -1.00 1.00 0 10.00 494.62)", :type => "textBox", :width => "319.59"}
      %tspan{:x => "159.79", :y => "56"} The Game
    %path{:d => "M0,0 L51.74,-0.38 ", :fill => "#FFFFFF", :height => "0.38", :stroke => "#AAAAAA", "stroke-miterlimit" => "3", "stroke-width" => "5", :transform => "matrix(1 0 0 1 96.07 115.98)", :width => "51.74"}
    %path{:d => "M683.90,344.53 L659.06,353.54 L659.03,335.83 L683.91,344.51 ", :fill => "#AAAAAA", :height => "17.71", :stroke => "#AAAAAA", "stroke-miterlimit" => "3", "stroke-width" => "0.23", :transform => "matrix(1 0 0 1 -522.82 -228.89)", :width => "24.87"}
    %path{:d => "M-36.59,0 L51.74,-0.38 ", :fill => "#FFFFFF", :height => "0.38", :stroke => "#AAAAAA", "stroke-miterlimit" => "3", "stroke-width" => "5", :transform => "matrix(1 0 0 1 413.85 115.98)", :width => "88.33"}
    %path{:d => "M683.90,344.53 L659.06,353.54 L659.03,335.83 L683.91,344.51 ", :fill => "#AAAAAA", :height => "17.71", :stroke => "#AAAAAA", "stroke-miterlimit" => "3", "stroke-width" => "0.23", :transform => "matrix(1 0 0 1 -205.05 -228.89)", :width => "24.87"}
    %path{:d => "M-18.51,0 L51.74,-0.38 ", :fill => "#FFFFFF", :height => "0.38", :stroke => "#AAAAAA", "stroke-miterlimit" => "3", "stroke-width" => "5", :transform => "matrix(0 1.00 -1.00 0 631.20 202.35)", :width => "70.25"}
    %path{:d => "M683.90,344.53 L659.06,353.54 L659.03,335.83 L683.91,344.51 ", :fill => "#AAAAAA", :height => "17.71", :stroke => "#AAAAAA", "stroke-miterlimit" => "3", "stroke-width" => "0.23", :transform => "matrix(0 1.00 -1.00 0 976.09 -416.54)", :width => "24.87"}
    %path{:d => "M683.90,344.53 L659.06,353.54 L659.03,335.83 L683.91,344.51 ", :fill => "#AAAAAA", :height => "17.71", :stroke => "#AAAAAA", "stroke-miterlimit" => "3", "stroke-width" => "0.23", :transform => "matrix(0 -1.00 1.00 0 286.70 851.97)", :width => "24.87"}
    %path{:d => "M-36.59,0 L51.74,-0.38 ", :fill => "#FFFFFF", :height => "0.38", :stroke => "#AAAAAA", "stroke-miterlimit" => "3", "stroke-width" => "5", :transform => "matrix(-0.99 0 0 -0.99 443.04 344.67)", :width => "88.33"}
    %path{:d => "M683.90,344.53 L659.06,353.54 L659.03,335.83 L683.91,344.51 ", :fill => "#AAAAAA", :height => "17.71", :stroke => "#AAAAAA", "stroke-miterlimit" => "3", "stroke-width" => "0.23", :transform => "matrix(-1 0 0 -1 1061.94 689.55)", :width => "24.87"}
    %path{:d => "M0,0 L51.74,-0.38 ", :fill => "#FFFFFF", :height => "0.38", :stroke => "#AAAAAA", "stroke-miterlimit" => "3", "stroke-width" => "5", :transform => "matrix(-1 0 0 -1 163.13 344.67)", :width => "51.74"}
    %path{:d => "M683.90,344.53 L659.06,353.54 L659.03,335.83 L683.91,344.51 ", :fill => "#AAAAAA", :height => "17.71", :stroke => "#AAAAAA", "stroke-miterlimit" => "3", "stroke-width" => "0.23", :transform => "matrix(-1 0 0 -1 782.03 689.55)", :width => "24.87"}
    %path{:d => "M-18.51,0 L25.92,-0.38 ", :fill => "#FFFFFF", :height => "0.38", :stroke => "#AAAAAA", "stroke-miterlimit" => "3", "stroke-width" => "5", :transform => "matrix(0 1.00 -1.00 0 631.20 451.27)", :width => "44.43"}
    %path{:d => "M683.90,344.53 L659.06,353.54 L659.03,335.83 L683.91,344.51 ", :fill => "#AAAAAA", :height => "17.71", :stroke => "#AAAAAA", "stroke-miterlimit" => "3", "stroke-width" => "0.23", :transform => "matrix(0 1.00 -1.00 0 976.09 -185.55)", :width => "24.87"}
    %path{:d => "M683.90,344.53 L659.06,353.54 L659.03,335.83 L683.91,344.51 ", :fill => "#AAAAAA", :height => "17.71", :stroke => "#AAAAAA", "stroke-miterlimit" => "3", "stroke-width" => "0.23", :transform => "matrix(0 -1.00 1.00 0 286.70 1106.70)", :width => "24.87"}
    %path{:d => "M0,0 L210.00,0 L210.00,70.00 L0,70.00 L0,0 Z ", :fill => "#A7F89C", "fill-opacity" => "1", :height => "70", :stroke => "#000000", "stroke-miterlimit" => "3", "stroke-width" => "5", :transform => "matrix(1 0 0 1 164.99 309.86)", :width => "209.99"}
    %text{:fill => "#000000", "font-size" => "20", :height => "36", :stroke => "none", "stroke-miterlimit" => "3", "stroke-width" => "5", "text-align" => "center", "text-anchor" => "middle", :transform => "matrix(0.99 0 0 0.99 180.43 326.86)", :type => "textBox", :width => "179.13"}
      %tspan{:x => "89.56", :y => "27"} Interpreters
    %path{:d => "M0,0 L210.00,0 L210.00,70.00 L0,70.00 L0,0 Z ", :fill => "#A7F89C", "fill-opacity" => "1", :height => "70", :stroke => "#000000", "stroke-miterlimit" => "3", "stroke-width" => "5", :transform => "matrix(1 0 0 1 164.99 80.79)", :width => "209.99"}
    %text{:fill => "#000000", "font-size" => "24", :height => "36", :stroke => "none", "stroke-miterlimit" => "3", "stroke-width" => "5", "text-align" => "center", "text-anchor" => "middle", :transform => "matrix(0.99 0 0 0.99 202.01 97.79)", :type => "textBox", :width => "135.97"}
      %tspan{:x => "67.98", :y => "28"} Importers
    %path{:d => "M0,0 L300.00,0 L300.00,99.99 L0,99.99 L0,0 Z ", :fill => "#9BBBFF", "fill-opacity" => "0.2", :height => "99.99", :stroke => "#AAAAAA", "stroke-miterlimit" => "3", "stroke-width" => "5", :transform => "matrix(1 0 0 1 481.39 65.79)", :width => "299.99"}
    %text{:fill => "#AAAAAA", "font-size" => "32", :height => "36", :stroke => "none", "stroke-miterlimit" => "3", "stroke-width" => "5", "text-align" => "center", "text-anchor" => "middle", :transform => "matrix(1 0 0 1 534.96 97.79)", :type => "textBox", :width => "192.87"}
      %tspan{:x => "96.43", :y => "32"} Snapshot
    %path{:d => "M0,0 L300.00,0 L300.00,149.99 L0,149.99 L0,0 Z ", :fill => "#9BBBFF", "fill-opacity" => "0.2", :height => "149.99", :stroke => "#AAAAAA", "stroke-miterlimit" => "3", "stroke-width" => "5", :transform => "matrix(1 0 0 1 481.39 269.86)", :width => "300.00"}
    %text{:fill => "#AAAAAA", "font-size" => "32", :height => "53", :stroke => "none", "stroke-miterlimit" => "3", "stroke-width" => "5", "text-align" => "center", "text-anchor" => "middle", :transform => "matrix(1 0 0 1 490.71 318.36)", :type => "textBox", :width => "281.37"}
      %tspan{:x => "140.68", :y => "36"} Simulation
    %path{:d => "M0,0 L238.48,0 L238.48,123.43 L0,123.43 L0,0 Z ", :fill => "#C0B870", "fill-opacity" => "0.48", :height => "123.43", :stroke => "#888888", "stroke-miterlimit" => "3", "stroke-width" => "2.89", :transform => "matrix(1 0 0 1 512.15 500)", :width => "238.48"}
    %path{:d => "M0,0 L-17.26,35.15 ", :fill => "#FFFFFF", :height => "35.15", :stroke => "#0049A8", "stroke-miterlimit" => "3", "stroke-width" => "0.89", :transform => "matrix(1 0 0 1 710.53 563.02)", :width => "17.26"}
    %path{:d => "M0,0 L17.70,35.15 ", :fill => "#FFFFFF", :height => "35.15", :stroke => "#0049A8", "stroke-miterlimit" => "3", "stroke-width" => "0.89", :transform => "matrix(1 0 0 1 710.53 563.02)", :width => "17.70"}
    %path{:d => "M0,8.68 C0,3.88 3.88,0 8.68,0 C13.48,0 17.37,3.88 17.37,8.68 C17.37,13.48 13.48,17.37 8.68,17.37 C3.88,17.37 0,13.48 0,8.68 Z ", :fill => "#7ABFE6", :height => "17.37", :stroke => "#0049A8", "stroke-miterlimit" => "3", "stroke-width" => "0.89", :transform => "matrix(1 0 0 1 719.32 589.08)", :width => "17.37"}
    %path{:d => "M0,8.68 C0,3.88 3.88,0 8.68,0 C13.48,0 17.37,3.88 17.37,8.68 C17.37,13.48 13.48,17.37 8.68,17.37 C3.88,17.37 0,13.48 0,8.68 Z ", :fill => "#7ABFE6", :height => "17.37", :stroke => "#0049A8", "stroke-miterlimit" => "3", "stroke-width" => "0.89", :transform => "matrix(1 0 0 1 684.57 589.08)", :width => "17.37"}
    %path{:d => "M0,0 L-17.26,35.15 ", :fill => "#FFFFFF", :height => "35.15", :stroke => "#0049A8", "stroke-miterlimit" => "3", "stroke-width" => "0.89", :transform => "matrix(1 0 0 1 643.93 563.02)", :width => "17.26"}
    %path{:d => "M0,0 L17.70,35.15 ", :fill => "#FFFFFF", :height => "35.15", :stroke => "#0049A8", "stroke-miterlimit" => "3", "stroke-width" => "0.89", :transform => "matrix(1 0 0 1 643.93 563.02)", :width => "17.70"}
    %path{:d => "M0,8.68 C0,3.88 3.88,0 8.68,0 C13.48,0 17.37,3.88 17.37,8.68 C17.37,13.48 13.48,17.37 8.68,17.37 C3.88,17.37 0,13.48 0,8.68 Z ", :fill => "#7ABFE6", :height => "17.37", :stroke => "#0049A8", "stroke-miterlimit" => "3", "stroke-width" => "0.89", :transform => "matrix(1 0 0 1 652.72 589.08)", :width => "17.37"}
    %path{:d => "M0,8.68 C0,3.88 3.88,0 8.68,0 C13.48,0 17.37,3.88 17.37,8.68 C17.37,13.48 13.48,17.37 8.68,17.37 C3.88,17.37 0,13.48 0,8.68 Z ", :fill => "#7ABFE6", :height => "17.37", :stroke => "#0049A8", "stroke-miterlimit" => "3", "stroke-width" => "0.89", :transform => "matrix(1 0 0 1 617.97 589.08)", :width => "17.37"}
    %path{:d => "M0,0 L-33.92,35.18 ", :fill => "#D8E6EE", :height => "35.18", :stroke => "#0049A8", "stroke-miterlimit" => "3", "stroke-width" => "0.89", :transform => "matrix(1 0 0 1 677.54 528.54)", :width => "33.92"}
    %path{:d => "M0,0 L33.66,34.68 ", :fill => "#D8E6EE", :height => "34.68", :stroke => "#0049A8", "stroke-miterlimit" => "3", "stroke-width" => "0.89", :transform => "matrix(1 0 0 1 677.54 528.54)", :width => "33.66"}
    %path{:d => "M0,8.68 C0,3.88 3.88,0 8.68,0 C13.48,0 17.37,3.88 17.37,8.68 C17.37,13.48 13.48,17.37 8.68,17.37 C3.88,17.37 0,13.48 0,8.68 Z ", :fill => "#7ABFE6", :height => "17.37", :stroke => "#0049A8", "stroke-miterlimit" => "3", "stroke-width" => "0.89", :transform => "matrix(1 0 0 1 701.95 554.33)", :width => "17.37"}
    %path{:d => "M0,8.68 C0,3.88 3.88,0 8.68,0 C13.48,0 17.37,3.88 17.37,8.68 C17.37,13.48 13.48,17.37 8.68,17.37 C3.88,17.37 0,13.48 0,8.68 Z ", :fill => "#7ABFE6", :height => "17.37", :stroke => "#0049A8", "stroke-miterlimit" => "3", "stroke-width" => "0.89", :transform => "matrix(1 0 0 1 668.65 519.58)", :width => "17.37"}
    %path{:d => "M0,8.68 C0,3.88 3.88,0 8.68,0 C13.48,0 17.37,3.88 17.37,8.68 C17.37,13.48 13.48,17.37 8.68,17.37 C3.88,17.37 0,13.48 0,8.68 Z ", :fill => "#7ABFE6", :height => "17.37", :stroke => "#0049A8", "stroke-miterlimit" => "3", "stroke-width" => "0.89", :transform => "matrix(1 0 0 1 635.35 554.33)", :width => "17.37"}
    %path{:d => "M0,0 L67.02,0 L67.02,34.62 L0,34.62 L0,0 Z ", :fill => "#FF7F50", :height => "34.62", :stroke => "#AAAAAA", "stroke-miterlimit" => "3", "stroke-width" => "0.38", :transform => "matrix(1 0 0 1 526.11 545.70)", :width => "67.02"}
    %text{:fill => "#000000", "font-size" => "24", :height => "36", :stroke => "none", "stroke-miterlimit" => "3", "text-align" => "center", "text-anchor" => "middle", :transform => "matrix(0.57 0 0 0.57 529.88 552.59)", :type => "textBox", :width => "102.70"}
      %tspan{:x => "51.35", :y => "28"} Rules

  %div
    Now the importers and interpreters are become more important!
  %div.fragment
    They act as controllers for the macro actions. Sending the orders to
    %br/
    the game and reading the state back accordingly.

