%section#qa
  %h1 Conclusion
  %br/
  %ul
    %li MCTS is a versatile general purposes problem solving algorithm
    %li There are differences and challenges using it in a real-time game
    %li But also techniques to make it work for you
    %li
      Thinking about the problem as a modelling problem is an
      %br/
      interesting and different to traditional approaches

  %br/
  %br/
  %a{ href:"http://mcts.ai"} http://mcts.ai
  %br/
  %a{ href:"http://nucl.ai"} http://nucl.ai
  %br/
  %a{ href:"http://lionhead.com"} http://lionhead.com
  %br/
  %br/
  GL &amp; HF
  %br/
  %br/
  Gwaredd

